 <h1>Social <%= title %> </h1>

 <section id="feed-post">
        <% if(locals.user){ %>      
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="post" >
        <textarea name="content" cols="30" rows="2" placeholder="Type here...."></textarea>
        <input type="submit" value="Post">
        </form>
        <div>
                <ul id="post-list-container">
                        <% for(post of posts){ %> 
                        <p>
                                <li>
                                        <%= post.content %>
                                        <br>
                                        <small>
                                                <%= post.user.name %>
                                        </small>
                                </li>
                        </p>
        
                        <%}%>
                </ul>
        </div>
        <% } %>
</section>