<h1>Log In</h1>

<form action="/users/create-Session" method="post">
    <input type="email" name="email" placeholder="Enter your Email" required>
    <input type="password" name="password" placeholder="Enter your Password" required>
    <input type="submit" value="Log In">
</form>